content/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
content/**/*.JPEG filter=lfs diff=lfs merge=lfs -text
content/**/*.png filter=lfs diff=lfs merge=lfs -text
content/**/*.PNG filter=lfs diff=lfs merge=lfs -text
content/**/*.jpg filter=lfs diff=lfs merge=lfs -text
content/**/*.JPG filter=lfs diff=lfs merge=lfs -text
content/**/*.bmp filter=lfs diff=lfs merge=lfs -text
content/**/*.BMP filter=lfs diff=lfs merge=lfs -text
content/**/*.zip filter=lfs diff=lfs merge=lfs -text
content/**/*.ZIP filter=lfs diff=lfs merge=lfs -text
content/**/*.pdf filter=lfs diff=lfs merge=lfs -text
content/**/*.PDF filter=lfs diff=lfs merge=lfs -text

docs/**/*.jpeg -filter -diff -merge text
docs/**/*.JPEG -filter -diff -merge text
docs/**/*.png -filter -diff -merge text
docs/**/*.PNG -filter -diff -merge text
docs/**/*.jpg -filter -diff -merge text
docs/**/*.JPG -filter -diff -merge text
docs/**/*.bmp -filter -diff -merge text
docs/**/* !text !filter !merge !diff
